.card {
    color: black !important;
    border: 1px solid #a50a50;
}

.card-body {
    background-color: thistle;
}

.card-header,
.card-footer {
    font-size: large;
    background-color: #a50a50;
    width: vw;
    color: white;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.bg-secondary {
    background-color: white !important;
    border-bottom: 20px solid #a50a50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filterBtn {
    background-color: #a50a50;
    color: white;
}

/*adjusting image's original height and width for equal display */
img {

    height: 100px;
    width: auto;
    margin: auto;
    display: block;
}

/*adjusting image position to display information along with the image */
.imgDetailView {
    float: right;
}